@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f2f2;
}

nav {
    background: #461414;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.nav-brand {
    color: white;
    font-size: 24px;
    padding-left: 20px;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav-menu li {
    margin: 0 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
}

.nav-menu li a:hover {
    background: #9b6161;
    border-radius: 5px;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle .hamburger {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all 0.3s;
}

.nav-toggle .hamburger::before,
.nav-toggle .hamburger::after {
    content: '';
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all 0.3s;
}

.nav-toggle .hamburger::before {
    transform: translateY(-8px);
}

.nav-toggle .hamburger::after {
    transform: translateY(8px);
}

h1 {
    font-size: 120px;
    text-align: center;
    color: rgba(255, 255, 255, 0.921);
}

.section-1 {
    background: url('Image/ShoeSide_Photo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.synopsis{
    padding: 50px;
}

.section-2 {
    background: url('Image/Teaser_Photo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-3 {
    background: url('Image/CastPhotos_2.3.1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-4 {
    background: url('Image/CrewPhotos_2.4.1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.section-inner {
    padding: 10% 0;
}

h2 {
    font-size: 35px;
    color: #555;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;
    padding-bottom: 20px;
}

p {
    font-size: 20px;
    color: #555;
    text-align: justify;
    line-height: 30px;
    margin: 0 50px 40px;
}

p:nth-of-type(2),
p:nth-of-type(3) {
    margin: 40px 50px;
}

.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-item-2 {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carousel-item-2 img {
    width: 100%;
    display: block;
}


.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #461414;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .nav-menu li a {
        padding: 20px 20px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    .carousel {
        width: 100%;
        padding: 50px;
    }

    .carousel-caption {
        font-size: 14px;
        padding: 5px 10px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        margin: 0 10px 20px;
    }

    .video-container {
        padding: 50px;
    }
}

@media (max-width: 576px) {
    .nav-menu li a {
        font-size: 18px;
    }

    .nav-toggle .hamburger,
    .nav-toggle .hamburger::before,
    .nav-toggle .hamburger::after {
        width: 20px;
    }
}